.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.w-100{
  width: 100;
}

.btn{
  border-style: solid;
  border-color: #0282F9;
  border-width: 2px;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  height: 50px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}